:root {
    /* --accent-color: rgb(222,31,35); */
    --accent-color: rgb(113,124,138);
    /* --main-color: white; */
    --main-color: rgb(33, 35, 35);
    --text-color: rgb(200, 200, 200);
    --accent-bg: rgb(44, 49, 54);
}

@keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}


.page {
    background-color: var(--main-color);
    width: 100%;
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    color: var(--text-color);
    overflow-x: hidden;
}

a:hover {
    color: rgb(222,31,35);
}

h2, h3 {
    margin-bottom: 20px;
    font-size: 40px;
    font-family: 'Fira Sans', serif;
    font-weight: 300;
}

h3 {
    font-size: 30px;
}

h4 {
    font-style: italic;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.header__logo {
    width: 100%;
}

.header__menu {
    width: 70%;
    padding: 20px;
    font-size: 20px;
    color: var(--accent-color);
    text-decoration: underline;
    text-align: center;
}

.header__menu-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 50px;
    align-items: left;
    padding: 30px 50px;
}

.main p {
    margin: 10px 0;
}

.accent-block {
    background-color: var(--accent-bg);
    box-shadow: 0px 0px 3px 2px white;
    width: 100%;
    border: 2px solid var(--accent-color);
    /* border-radius: 6px; */
    padding: 15px 30px;
    animation: slideIn 1s ease-out;
    animation-timeline: view();
    animation-range: entry 20% entry 100%;
    animation-fill-mode: both;
}

.main__about {
    border-width: 3px;
}

.main__about-list, 
.main__education-list,
.main__teacher-experience {
    list-style: none;
    padding-left: 20px; 
}

.main__about-list li::before {
    content: "✓ ";
    color: green;
    margin-right: 5px;
}

.main__education {
    padding-left: 32px;
    margin-bottom: 30px;
}

.main__education p:first-of-type {
    margin-bottom: 70px;
}

.main__education-list {
   list-style-type: circle; 
}

.main__teachers {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.main-title {
    padding-left: 32px;
    margin-bottom: 20px;
}

.main__teachers-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

.main__teacher {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 20px;
    /* justify-content: space-between; */
}

.main__teacher-photo {
    width: 250px;
    height: auto;
}

.main__teacher-info {
    padding-top: 5px;
}

.main__teacher-experience li {
    list-style-type: disc;
}

.main__contacts-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* gap: 30px; */
    justify-content: space-between;
    padding: 0 32px;
}

.main__contacts-photo {
    width: 30%;
    justify-self: flex-end;
}

.main__contacts-list {
    list-style: disc;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px 0;
}

.main__documents-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 30px;
}

.footer {
    display: flex;
    flex-direction: column;
    width: 110%;
    margin-left: -5%;
    padding: 40px 0;
    height: 100px;
    text-align: center;
    justify-content: center;
    border-top: 3px solid var(--accent-color);
    background-color: var(--main-color);
}

.footer__text {
    margin: 5px auto;
}

.footer__links {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    justify-content: space-around;
    margin-top: 5px;
}

@media (max-width: 768px) {
    .page {
        align-items: center;
        text-align: center;

    }

    .main p, 
    .main ul, 
    .main a {
        font-size: 12px;
        text-align: left;
    }

    .header__menu-list {
        flex-direction: column;
    }

    .main__teachers {
        flex-direction: column;
    }

    .main__teacher {
        flex-direction: column;
        align-items: center;
    }

    .main__contacts-container {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .main__contacts-list {
        /* justify-content: start; */
        text-align: left;
        gap: 5px;
    }

    .main__contacts-photo {
        width: 70%;
        justify-self: center;
    }
}
